<div class="tan-background"></div>
	<div class=" col-xs-1 col-md-4"></div>
	<div class="col-xs-10 col-md-4">
	<div class="splash-logo img-responsive"></div>
	<%= render 'form' %>

	<br><%= link_to 'Login', new_user_session_path %>
		
	</div>
	<div class=" col-xs-1 col-md-4"></div>