<div class="jumbo-logo img-responsive"></div>
<div class="col-xs-1 col-md-4"></div>
<div class="col-xs-10 col-md-4">
	<h1 class="large-heading">Edit Wine Entry</h1>

	<%= render 'form' %>

	<br>
	<%= link_to 'Back', wines_path %>
	<br>
	<br>
	<br>
</div>
<div class="col-xs-1 col-md-4"></div>
